[submodule "roles/williamyeh.oracle-java"]
	path = roles/williamyeh.oracle-java
	url = https://github.com/William-Yeh/ansible-oracle-java.git
[submodule "roles/ansible-java8-oracle"]
	path = roles/ansible-java8-oracle
	url = https://github.com/malk/ansible-java8-oracle.git
